<div class="row">
  <div class="news-line rounded">
    <div *ngFor="let post of posts" class="post">
      <div class="post-title">
        <i class="fas fa-users band-icon"></i>
        <span>{{post.band.name}}</span>
        <div class="post-date">
          <span>{{dateService.formatDate(post.creationDatetime)}}</span>
          <span *ngIf="bandService.isAdministrator(musician, band)" class="post-delete-button"
                (click)="showDeleteForm(post)">×</span>
        </div>
      </div>
      <div class="card">
        <img *ngIf="post.photoURL" class="card-img-top" src="{{'http://localhost:8080/images/' + post.photoURL}}"
             alt="{{post.photoURL}}">
        <div class="card-body post-description" *ngIf="post.text || post.fileURL">
          <p class="card-text" *ngIf="post.text">{{post.text}}</p>
          <div *ngIf="post.fileURL">
            <i class="fas fa-compact-disc"></i>
            <a href="{{'http://localhost:8080/file/' + post.fileURL}}">File</a>
          </div>
        </div>
        <span class="comment-link" (click)="openComments(post)">Comments</span>
        <app-comments-list *ngIf="commentOpened[post.id]" [comments]="post.comments" [user]="musician.user"
                           (commentCreationEvent)="createComment($event, post)"
                           (commentDeletingEvent)="deleteComment($event, post)"></app-comments-list>
      </div>
      <section waIntersectionObserver waIntersectionThreshold="0.7">
        <div class="end-of-news rounded" (waIntersectionObservee)="addNews()">End of news</div>
      </section>
    </div>
  </div>
</div>

<app-modal *ngIf="postToDelete" [title]="'Post deleting confirmation'" [text]="'Are you sure want to delete this post?'"
           (deleteEvent)="deletePost()"
           (cancelEvent)="cancelDeleting()"></app-modal>
