<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User editing</title>

    <link rel='shortcut icon' type='image/x-icon' th:href='@{/favicon.ico}' />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/admin-user.css}">
</head>
<body>
<div th:replace="fragments/admin-header.html :: admin-header"></div>
<div th:replace="fragments/edit-user-form.html :: edit-user-form"></div>
</body>
</html>