.custom-navbar {
    display: inherit !important
}

.filter-panel{
    width: 20%;
    min-width: 20%;
    /* фиксируем и выставляем высоту панели на максимум */
    height: 93%;
    position: fixed;
    top: 7%;
    bottom: 0;
    margin: 0;
    /* сдвигаем (прячем) панель относительно левого края страницы */
    left: -20%;
    /* внутренние отступы */
    padding: 15px 20px;
    /* плавный переход смещения панели */
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    transition: left 0.3s;
    /* определяем цвет фона панели */
    background: #212529;
    /* поверх других элементов */
    z-index: 2000;
}

.filter-panel-toggle{
    position: absolute;
    /* относительно левого края панели */
    left: 320px;
    /* отступ от верхнего края панели */
    top: 1rem;
    /* внутренние отступы */
    padding: 0.5em;
    /* определяем цвет фона переключателя
     * чаще вчего в соответствии с цветом фона панели
    */
    background: inherit;
    /* цвет текста */
    color: #dadada;
    /* вид курсора */
    cursor: pointer;
    /* размер шрифта */
    font-size: 1.2em;
    line-height: 1;
    /* всегда поверх других элементов страницы */
    z-index: 2001;
    /* анимируем цвет текста при наведении */
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
    border-radius: 5%;
    border: 2px solid black;
}

.filter-panel-toggle:after {
    content: 'Filters';
    text-decoration: none;
}

.filter-panel-toggle:hover {
    color: #17a2b8;
}

[id='filter-panel-toggle'] {
    position: absolute;
    display: none;
}

[id='filter-panel-toggle']:checked ~ .filter-panel > .filter-panel-toggle {
    left: auto;
    right: 2px;
    top: 1em;
}

/**
 * Когда флажок установлен, открывается панель
 * используем псевдокласс:checked
 */

[id='filter-panel-toggle']:checked ~ .filter-panel {
    left: 0;
    box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    -moz-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    -webkit-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    overflow-y: auto;
}

/*
 * изменение символа переключателя,
 * привычный крестик (MULTIPLICATION X),
 * вы можете испльзовать любой другой значок
*/

[id='filter-panel-toggle']:checked ~ .filter-panel > .filter-panel-toggle {
    content: '\2715';
}

.filter-panel-form{
    padding-top: 15%;
}

.filter-panel > button{
    margin-top: 5%;
}

.table-form-group{
    display:table;
}

.table-row-group{
    display:table-row;
}

.table-cell-group{
    display:table-cell;
}

.filter-panel-form > div {
    color: #dadada;
}

.form-group > div {
    color: #dadada;
}

.form-group > label {
    color: #dadada;
}

.add-user-button {
    position: absolute;
    right: 10%;
    top: 3rem;
    text-align: center;
}

.add-user-button-background {
    position: absolute;
    background-color: #212529;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    top: 21px;
    left: -3px;
}

.add-user-button-text:active,
.add-user-button-text {
    text-decoration: none;
    color: white;
    font-size: 3rem;
    position: absolute;
    z-index: 3;
}

.add-user-button-text:hover {
    text-decoration: none;
    color: #17a2b8;
    cursor: pointer;
}

.pointer-element:hover {
    cursor:pointer;
}

.custom-toast {
    position: absolute;
    top: 1rem;
    background-color: mediumseagreen;
}

.custom-toast-header {
    background-color: mediumseagreen;
    color:white;
    text-align:center;
}

.custom-toast-body {
    background-color: white;
    margin-bottom: 5px;
}

.main-content {
    margin-top: 4rem;
}

.arrow-image {
    height: 10px;
}

.arrow-image:hover {
    height: 14px;
    cursor: pointer;
}

.pagination-arrows {
    margin-top: 10px;
}

.pagination-arrow {
    height: 2rem;
}

.pagination-text {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}