<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>admin-user-table</title>
</head>
<body>
<div th:fragment="admin-user-table">
    <div class="add-user-button">
        <div class="add-user-button-background"></div>
        <a th:href="@{/admin/users/add}" class="add-user-button-text">+</a>
    </div>
    <table class="table main-content">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                <span>Login</span>
                <img th:if="${filterBean.sortingField != 'login'}" th:attr="src=@{/images/arrows/arrow-empty.png}"
                     class="arrow-image" data-field="login">
                <img th:if="${filterBean.sortingField == 'login' && filterBean.sortingType == 'ASC'}"
                     th:attr="src=@{/images/arrows/arrow-up.png}" class="arrow-image" data-field="login"
                     data-status="ASC">
                <img th:if="${filterBean.sortingField == 'login' && filterBean.sortingType == 'DESC'}"
                     th:attr="src=@{/images/arrows/arrow-down.png}" class="arrow-image" data-field="login"
                     data-status="DESC">
            </th>
            <th scope="col">
                <span>Email</span>
                <img th:if="${filterBean.sortingField != 'email'}" th:attr="src=@{/images/arrows/arrow-empty.png}"
                     class="arrow-image" data-field="email">
                <img th:if="${filterBean.sortingField == 'email' && filterBean.sortingType == 'ASC'}"
                     th:attr="src=@{/images/arrows/arrow-up.png}" class="arrow-image" data-field="email"
                     data-status="ASC">
                <img th:if="${filterBean.sortingField == 'email' && filterBean.sortingType == 'DESC'}"
                     th:attr="src=@{/images/arrows/arrow-down.png}" class="arrow-image" data-field="email"
                     data-status="DESC">
            </th>
            <th scope="col">
                <span>First name</span>
                <img th:if="${filterBean.sortingField != 'firstName'}" th:attr="src=@{/images/arrows/arrow-empty.png}"
                     class="arrow-image" data-field="firstName">
                <img th:if="${filterBean.sortingField == 'firstName' && filterBean.sortingType == 'ASC'}"
                     th:attr="src=@{/images/arrows/arrow-up.png}" class="arrow-image" data-field="firstName"
                     data-status="ASC">
                <img th:if="${filterBean.sortingField == 'firstName' && filterBean.sortingType == 'DESC'}"
                     th:attr="src=@{/images/arrows/arrow-down.png}" class="arrow-image" data-field="firstName"
                     data-status="DESC">
            </th>
            <th scope="col">
                <span>Last name</span>
                <img th:if="${filterBean.sortingField != 'lastName'}" th:attr="src=@{/images/arrows/arrow-empty.png}"
                     class="arrow-image" data-field="lastName">
                <img th:if="${filterBean.sortingField == 'lastName' && filterBean.sortingType == 'ASC'}"
                     th:attr="src=@{/images/arrows/arrow-up.png}" class="arrow-image" data-field="lastName"
                     data-status="ASC">
                <img th:if="${filterBean.sortingField == 'lastName' && filterBean.sortingType == 'DESC'}"
                     th:attr="src=@{/images/arrows/arrow-down.png}" class="arrow-image" data-field="lastName"
                     data-status="DESC">
            </th>
            <th scope="col">
                <span>Birthdate</span>
                <img th:if="${filterBean.sortingField != 'birthdate'}" th:attr="src=@{/images/arrows/arrow-empty.png}"
                     class="arrow-image" data-field="birthdate">
                <img th:if="${filterBean.sortingField == 'birthdate' && filterBean.sortingType == 'ASC'}"
                     th:attr="src=@{/images/arrows/arrow-up.png}" class="arrow-image" data-field="birthdate"
                     data-status="ASC">
                <img th:if="${filterBean.sortingField == 'birthdate' && filterBean.sortingType == 'DESC'}"
                     th:attr="src=@{/images/arrows/arrow-down.png}" class="arrow-image" data-field="birthdate"
                     data-status="DESC">
            </th>
            <th scope="col">
                <span>Creation date</span>
                <img th:if="${filterBean.sortingField != 'creationDate'}"
                     th:attr="src=@{/images/arrows/arrow-empty.png}" class="arrow-image" data-field="creationDate">
                <img th:if="${filterBean.sortingField == 'creationDate' && filterBean.sortingType == 'ASC'}"
                     th:attr="src=@{/images/arrows/arrow-up.png}" class="arrow-image" data-field="creationDate"
                     data-status="ASC">
                <img th:if="${filterBean.sortingField == 'creationDate' && filterBean.sortingType == 'DESC'}"
                     th:attr="src=@{/images/arrows/arrow-down.png}" class="arrow-image" data-field="creationDate"
                     data-status="DESC">
            </th>
            <th scope="col">Role</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <th scope="row" th:text="${filterBean.offset} + ${userStat.index} + 1"></th>
            <td th:text="${user.login}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${#dates.format(user.birthdate, 'dd-MM-yyyy')}"></td>
            <td th:text="${#dates.format(user.creationDate, 'dd-MM-yyyy')}"></td>
            <td th:text="${user.role}"></td>
            <td th:text="${user.status}"></td>
            <td>
                <i class="fa fa-edit pointer-element edit-user-button"
                   th:if="${user.status != 'deleted'}"
                   th:attr="data-user-id=${user.id}"></i>
                <i class="fa fa-trash pointer-element delete-user-button"
                   th:if="${user.status != 'deleted'}"
                   th:attr="data-user-id=${user.id},data-user-login=${user.login}"
                   data-toggle="modal" data-target="#delete-user-modal"></i>
            </td>
        </tr>
        </tbody>
    </table>
</div>