body {
    background: url("/PlayMe/images/background-2.jpg") no-repeat;
    background-size: 100%;
}

.user-form {
    border-radius: 25px;
    background: dimgray;
    padding: 20px;
    margin-top: 20px;
}

.control-button {
    margin-left: 10%;
    margin-right: 10%;
}

.error-message {
    background: rgba(256, 0, 0, 0.8);
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px;
    font-size: 10pt;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}