<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <display-name>PlayMe</display-name>

    <welcome-file-list>
        <welcome-file>/pages/main.html</welcome-file>
    </welcome-file-list>

    <resource-ref>
        <description>PostgreSQL connection</description>
        <res-ref-name>jdbc/playme</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <error-page>
        <exception-type>com.dataart.playme.exception.NoSuchRecordException</exception-type>
        <location>/exception/404</location>
    </error-page>

    <error-page>
        <exception-type>com.dataart.playme.exception.StorageException</exception-type>
        <location>/exception/500</location>
    </error-page>

    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/main.html</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/main-admin.html</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AdministratorFilter</filter-name>
        <url-pattern>/main-admin.html</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/main.html</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/auth</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CacheFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>