<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>

    <link rel='shortcut icon' type='image/x-icon' th:href='@{/favicon.ico}'/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">

    <script th:attr="src=@{/js/jquery-3.5.1.slim.min.js}"></script>
    <script th:attr="src=@{/js/bootstrap.min.js}"></script>
    <script th:attr="src=@{/js/constants.js}"></script>
</head>
<body>
<div th:replace="fragments/admin-header.html :: admin-header"></div>
<div th:replace="fragments/admin-filter-panel.html :: admin-filter-panel"></div>
<div th:replace="fragments/admin-user-table.html :: admin-user-table"></div>
<div th:replace="fragments/toast-message.html :: toast-message"></div>
<div th:replace="fragments/admin-pagination-arrows.html :: pagination-arrows"></div>
<div th:replace="fragments/delete-user-modal.html :: delete-user-modal"></div>
<section>
    <script th:attr="src=@{/js/main-admin.js}"></script>
</section>
</body>
</html>